<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Миграционные услуги</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Oranienbaum&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<div>
      <nav class="navbar navbar-expand-md navbar-dark" style="background-color:#240935">

			 <a class="navbar-brand" href="{% url 'index' %}"><i>Миграционный консультант</i></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>
  			<div class="collapse navbar-collapse" id="navbarSupportedContent">
    			<ul class="navbar-nav mr-auto">
      				<li class="nav-item">
        				<a class="nav-link" href="{% url 'index' %}">Главная <span class="sr-only">(current)</span></a>
      				</li>
		    		<li class="nav-item">
		    			<a class="nav-link" href="{% url 'services' %}">Услуги</a>
      				</li>
            		<li class="nav-item">
		    			<a class="nav-link" href="{% url 'contact' %}">Контакты</a>
      				</li>
    			</ul>
  			</div>
	  </nav>

	{% block content %}
	{% endblock %}
	<footer id="footer" class="footer navbar-fixed-bottom" style="background-color:#240935">
	  <div class="container text-white">
		<hr>
		&copy; Все права защищены
		</div>
	</footer>
</body>
</html>