{% extends "homepage/wrapper.html" %}

{% block content %}

<div class="jumbotron">
    <h3 class="lead">Контактный телефон : +7 (999)999-99-99</h3>
    <h3 class="lead">e-mail : blabla@bla.com</h3>
    <h4 class="lead">Адрес : бла бла там посад</h4>
</div>
<div class="container-fluid d-xs-none">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor:2ffad3a1d7058713d648d1a24d8073e6d1ac6eebf5bfcf763febe300a5c75eed&amp;width=100%&amp;height=461&amp;lang=ru_RU&amp;scroll=true"></script>
</div>

{% endblock %}